:root{
  --fuente-principal: 'Exo 2', sans-serif;;
  --color-primario: #DDDDDD;
  --color-secundario: #222831;
  --color-terciario: #30475E;
  --color-cuaternario: #F05454;
}

html {
    font-size: 62.5%; /* 1 rem = 10 px */
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;;
  font-size: 1.6rem;
  line-height: 2;
  background-color: var(--color-primario);
}
 
.tittle{
  display: flex;
  justify-content: center;
   align-items: center;
  height: 10rem;
  font-size: 5vmax;
  color: var(--color-secundario);
}

.nav-bar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5rem;
  width: 70%;
   margin: auto;
}

.main-container {
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(25rem, 1fr) );
  gap: 2rem;
  width: 80%;
  margin: auto;
  padding: 2.5rem 0;
}

.card{
  background-color: var(--color-terciario);
  color: var(--color-primario);
  border-radius: 0.5rem;
  border: 0.4rem solid var(--color-cuaternario);
  padding: 2rem;
}

.card-body{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-element{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card-element h3{
  margin: 0;
}

.card-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card-box [type=checkbox] {
  height: 1.8rem;
  width: 1.8rem;
  cursor: pointer;
}

.container-delete{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
}
.modal{
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity .7s;
}

.modal--show{
  opacity: 1;
  pointer-events: unset;
  transition: opacity .7s;
}

.modal-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: var(--color-primario);
  border: 0.4rem solid white;
  border-radius: 0.6rem;
  max-height: 65%;
  min-width: 30%;
  margin: auto;
  padding: 10rem 0;
}

.modal-tittle {
  padding: 0;
  margin: 0;
  color: var(--color-terciario);
  font-size: 2vmax;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 90%;
}

.modal-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-height: 3.5rem;
}

.modal-checkbox {
  justify-content: center;
  gap: 1rem;
}

.modal-input [type=text],[type=number] {
  font-family: var(--fuente-principal);
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-cuaternario);
  display: flex;
  align-items: center;
  padding: 1.3rem;
  height: 3rem;
  width: 80%;
}

.modal-input [type=checkbox] {
  width: 10%;
  cursor: pointer;
}

.modal-form label {
  color: var(--color-secundario);
  font-weight: bold;
  font-size: 1.4vmax;
}

.modal-form input {
  border: 0.4rem solid white;
  border-radius: 0.6rem;
  height: 2.5rem;
  max-width: 70%;
}

.modal-form input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
   margin: 0;
}

.btn {
  width: 25vmin;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-size: 1.3vmax;
  font-weight: bold;
  font-family: var(--fuente-principal);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid var(--color-terciario);
  color: var(--color-terciario);
}

.btn:hover {
color: #fff;
}

.btn:hover:after {
height: 100%;
}

.btn:after {
content: "";
position: absolute;
z-index: -1;
transition: all 0.3s ease;
left: 0;
bottom: 0;
height: 0;
width: 100%;
background: var(--color-terciario);
}

.btn-modal{
width: 60%;
}

.container-close{
  height: 10rem;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-modal-close{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-height: 2.5rem;
  max-width: 2.5rem ;
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 50%;
  border: 2.8px solid var(--color-cuaternario);
  color: var(--color-cuaternario);
}

.btn-modal-close:hover{
  color: #fff;
}

.btn-modal-close:after{
  background: var(--color-cuaternario);
}

.btn-delete {
  border: 2px solid var(--color-cuaternario);
  color: var(--color-cuaternario);
}

.btn-delete:after{
  background: var(--color-cuaternario);
}

