:root{
    --fuente-principal: 'Exo 2', sans-serif;;
    --color-primario: #DDDDDD;
    --color-secundario: #222831;
    --color-terciario: #30475E;
    --color-cuaternario: #F05454;
}

html {
    font-size: 62.5%; /* 1 rem = 10 px */
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;;
    font-size: 1.6rem;
    line-height: 2;
    background-color: var(--color-primario);
}
 
.tittle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    font-size: 7rem;
    color: var(--color-secundario);
}

.nav-bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5rem;
    width: 70%;
    margin: auto;
}

.btn {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: var(--fuente-principal);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid var(--color-terciario);
    color: var(--color-terciario);
  }
  .btn:hover {
    color: #fff;
  }
  .btn:hover:after {
    height: 100%;
  }
  .btn:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background: var(--color-terciario);
  }

  .main-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
  }